{% extends 'base.twig' %}

{% block content %}

    <h2>Posts</h2>

    {% for post in posts %}
        <div class="post">
            {% if isDoctor==0 %}
                <a href="/posts/{{ post.postId }}">{{ post.title}}</a> by  <a href="/user/{{ post.author|raw }}"> {{ post.author|raw }}</a>. Posted on {{ post.date }}
            {% endif %}
            {% if isDoctor==1 %}
                {% if (post.payed==1) and (post.answered==0) %}
                    (Unanswered post) <a href="/posts/{{ post.postId }}">{{ post.title}}</a> by  <a href="/user/{{ post.author|raw }}"> {{ post.author|raw }}</a>. Posted on {{ post.date }}
                {% endif %}
                {% if (post.payed==1) and (post.answered==1) %}
                    (Already answered post) <a href="/posts/{{ post.postId }}">{{ post.title}}</a> by  <a href="/user/{{ post.author|raw }}"> {{ post.author|raw }}</a>. Posted on {{ post.date }}
                {% endif %}
            {% else %}
                {% if(post.answered==1) %}
                    (Answered by a doctor) <a href="/posts/{{ post.postId }}">{{ post.title}}</a> by  <a href="/user/{{ post.author|raw }}"> {{ post.author|raw }}</a>. Posted on {{ post.date }}

                {% else %}
                <a href="/posts/{{ post.postId }}">{{ post.title}}</a> by  <a href="/user/{{ post.author|raw }}"> {{ post.author|raw }}</a>. Posted on {{ post.date }}
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        There are no posts as of yet
    {% endfor %}

{% endblock %}
